

body{
    /* background: url("../img/health.jpg") no-repeat center center fixed; */
    background: linear-gradient(135deg, #71b7e6,#a972be);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
   *[role="form"] {
max-width: 630px;
padding: 20px;
margin: 0 auto;
border-radius: 0.3em;
background-color: white;
}

*[role="form"] h2 { 
font-family: 'Open Sans' , sans-serif;
font-size: 40px;
font-weight: 600;
color: #000000;
margin-top: 5%;
text-align: center;
text-transform: uppercase;
letter-spacing: 4px;
}

*{
    margin: 0;
    padding: 0;

}
.container{
    margin-top: 60px;
}